* {
  margin: 0;
  padding: 0;
}

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  margin: 10px;
  align-items: center;
  height: 74px;
  justify-content: space-between;
}

.header div {

}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

.left-links {
  /* display: flex;  */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  justify-content: flex-start;
}

.right-links {
  justify-content: flex-end;
}
ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  /* justify-content: space-around; */
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  margin: 20px;
}

.left-links li {
  /* flex: 1 1 0; */
  justify-content: space-around;
  margin-left: 20px;
}

/* .left-links {
  display: flex;
  justify-content: flex-start;
}

.right-links {
  display: flex;
  justify-content: flex-end;
} */